.noteTitle {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px; 
  text-transform: uppercase;
  border-bottom: 2px solid #00aaff; 
  padding-bottom: 2px; 
}

.noteContent {
  max-width: 100%; 
  max-height: 100px;  
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap;  
}

.noteContainer {
  background: #0e2b37;
  border: 2px solid rgb(0, 128, 255);
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 320px;
  height: auto;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
}

.noteContainer:hover {
  transform: translateY(-5px);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
}

.noteOptions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.readButton, .editButton, .deleteButton {
  background: #007BFF;
  color: white;
  border: 1px solid #007BFF;
  padding: 8px 12px; 
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px; 
  width: auto;
}

.readButton svg, .editButton svg, .deleteButton svg {
  font-size: 1.8rem; 
  color: white;
}

.readButton:hover, .editButton:hover, .deleteButton:hover {
  background: white;
  color: #007BFF;
}

.readButton:hover svg, .editButton:hover svg, .deleteButton:hover svg {
  color: #007BFF; 
}
