.noteListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 20px;
  width: 85vw; 
  margin: left; 
  padding: 30px;
  border-radius: 10px;
}

/*.noteContainer {
  flex: 1 1 auto; 
  box-sizing: border-box;
  margin: 10px; 
}*/

@media (max-width: 1200px) {
  .noteListContainer {
    justify-content: center; 
  }
}

@media (max-width: 900px) {
  .noteListContainer {
    justify-content: center; 
  }
}

@media (max-width: 600px) {
  .noteListContainer {
    justify-content: center; 
  }
}
