.topBarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: #051515; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  border-bottom: 2px solid rgb(0, 128, 255, 0.5);
}

@media (max-width: 768px) {
  .topBarContainer {
    flex-direction: column;
    align-items: center;
  }

  .logoContainer {
    margin-bottom: 10px;
  }

  .searchBarContainer {
    margin-bottom: 10px;
    width: 100%;
    justify-content: center;
  }

  .logoutButton {
    margin-top: 10px;
  }
}

