.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 20px;
}

.userInfoButton {
  background-color: #007bff;
  border: none;
  border-radius: 50%; 
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 120px;
  transition: background-color 0.3s ease;
  transition: transform 0.2s ease;
  
  position: fixed; 
  bottom: 20px;
}

.userInfoButton:hover {
  background-color: #0056b3;
  transform: translateY(-5px);
}

.userInfoButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.userInfoButton svg {
  height: 68px;
  width: 68px;
}
