.authContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f8ff; /*backgroung white*/
  padding: 20px;
}

.authLogo {
  width: 300px;
  margin-bottom: 20px;
}

.authForm {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #e0e0e0; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  width: 100%;
  max-width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: box-shadow 0.3s ease; 
}

.authForm:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); 
}

.googleLoginButton {
  margin-top: 20px;
}

.hidden {
  display: none;
}