.authToggleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.authToggle {
  margin-top: 10px;
  color: #0a2020;
  cursor: pointer;
  font-weight: bold;
}

.authToggle:hover {
  text-decoration: underline;
  color: #0d3d3d;
}