.authContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f8ff;
  padding: 20px;
}

.authLogo {
  width: 300px;
  margin-bottom: 20px;
}

.authForm {
  background: #0a2020;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.googleLoginButton {
  margin-top: 20px; 
}

.hidden {
  display: none;
}